<header>
    <menu>
        <ui>
            <a href="#">Shop</a>
        </ui>
        <ui>
            <a href="#">Read</a>
        </ui>
        <ui>
            <a href="#">020 8004 7160</a>
        </ui>
        <h1>
            MANUAL
        </h1>
    </menu>
</header>